{% extends "layout.html" %}
{% block content %}
	<style>
		body{
			background-color: black;
		}
		h1,h3 {
			text-align: center;
			color: white;

		}

		a:link {
			text-decoration: none;
		}

		.header {
			vertical-align: middle;
		}

		.button {
			display: block;
		    width: 115px;
		    height: 45px;
		    background: #4E9CAF;
		    padding: 10px;
		    text-align: center;
		    border-radius: 5px;
		    color: white;
		    font-weight: bold;
    		line-height: 25px;
		}
	</style>
	<div class="header">

		<h3>Welcome to</h3>
		<img src="/static/assets/logo.png" class="rounded mx-auto d-block" alt="Logo">
		<hr>
		<h3>A chatting platform where intelligent conversations can happen.</h3>
		<hr>
		<div class="d-flex justify-content-center">
			<a class="button" href="{{ url_for('login') }}">Go to Login</a></button>
		</div>
	</div>
<!-- 	<button type="button" class="btn btn-default">Go to Login</button> -->
{% endblock content %}

