{% extends "layout.html" %}
{% block content %}
<style>
    .content-section{
        border-color: #649DBB;
        color: #407692;
    }
</style>
    <div class="content-section">
         <form method="POST" action="">
             {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Profile Preferences</legend>
                <div class="form-group">
                    <h5>Please answer these questions as they are used to match you to person to chat with!</h5> 
                </div>
                <div class="form-group">
                    {{ form.age.label }}
                    <small class="text-muted">{{ form.age.description }}</small>
                        {{ form.age(class_="form-control") }}

                        {% for error in form.age.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                </div>
                <div class="form-group">
                        {{ form.spirituality.label }}
                        <small class="text-muted">{{ form.spirituality.description }}</small>
                        {{ form.spirituality(class_="form-control") }}

                        {% for error in form.spirituality.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                </div>
                <div class="form-group">
                        {{ form.engagement.label }}
                        <small class="text-muted">{{ form.engagement.description }}</small>
                        {{ form.engagement(class_="form-control") }}

                        {% for error in form.engagement.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                </div>
                <div class="form-group">
                        {{ form.location.label }}
                        <small class="text-muted">{{ form.location.description }}</small>
                        {{ form.location(class_="form-control") }}

                        {% for error in form.location.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-default") }}
            </div>
            <div class="form-group">
                <a href="{{ url_for('profile') }}">Don't Save, Go Back to Profile</a>
            </div>
         </form>
    </div>
    <div class="border-top pt-3">
    </div>
{% endblock content %}


      <!--   <form action="{{ url_for('handle_data') }}" class="myForm" method="get" enctype="application/x-www-form-urlencoded"
            action="/html/codes/html_form_handler.cfm">
            <fieldset>
                <legend>Age?</legend>
                <p><label class="choice"> <input type="radio" name="Under 18" required value="Under 18"> Under 18 </label></p>
                <p><label class="choice"> <input type="radio" name="Under 18" required value="18-25"> 18-25 </label></p>
                <p><label class="choice"> <input type="radio" name="Under 18" required value="26-40"> 26-40</label></p>
                <p><label class="choice"> <input type="radio" name="Under 18" required value="40+"> 40+ </label></p>
            </fieldset>
            <fieldset>
                <legend>How would you describe your belief in a higher power?</legend>
                <p><label class="choice"> <input type="radio" name="atheist" required value="atheist"> atheist </label></p>
                <p><label class="choice"> <input type="radio" name="atheist" required value="agnostic"> agnostic </label></p>
                <p><label class="choice"> <input type="radio" name="atheist" required value="spiritual but not religious"> spiritual but not religious </label></p>
                <p><label class="choice"> <input type="radio" name="atheist" required value="spiritual but also religious"> spiritual but also religious </label></p>
                <p><label class="choice"> <input type="radio" name="atheist" required value="devout religious"> devout religious </label></p>
            </fieldset>
            <fieldset>
                <legend>When newsworthy things are happening in the world, at what level do you engage?</legend>
                <p><label class="choice"> <input type="radio" name="I do not engage" required value="I do not engage"> I do not engage </label></p>
                <p><label class="choice"> <input type="radio" name="I do not engage" required value="I educate myself to understand the gist of it"> I educate myself to understand the gist of it</label></p>
                <p><label class="choice"> <input type="radio" name="I do not engage" required value="In addition to educating myself, I initiate hard conversations with family and friends"> In addition to educating myself, I initiate hard conversations with family and friends </label></p>
                <p><label class="choice"> <input type="radio" name="I do not engage" required value="I participate in community-wide events surrounding social justice issues"> I participate in community-wide events surrounding social justice issues </label></p>
                <p><label class="choice"> <input type="radio" name="I do not engage" required value="I am a full on activist: I organize events, create social media content, etc."> I am a full on activist: I organize events, create social media content, etc. </label></p>
            </fieldset>
            <fieldset>
                <legend>What region do you live in?</legend>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Canada"> Canada </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="West Coast"> West Coast </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="South America"> South America </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Mexico"> Mexico </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Mountain Region"> Mountain Region </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Midwest"> Midwest </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="East Coast"> East Coast </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Europe"> Europe</label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Africa"> Africa </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Western Asia"> Western Asia </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Eastern Asia"> Eastern Asia </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Southern Asia"> Southern Asia </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Australia"> Australia </label></p>
                <p><label class="choice"> <input type="radio" name="Canada" required value="Other"> Other</label></p>
            </fieldset>
        </form>
 -->