{% extends "layout.html" %}
{% block content %}
	<style>
	</style>
	<h1> My Profile </h1>
	<hr>
	<div class="content-section">
      	<div class="media">
	        <div class="media-body">
	          <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.lastname }}</h2>
	          <p class="text-secondary">{{ current_user.email }}</p>
	          <hr>
    	</div>
     </div>
     <h2>Profile Questions</h2>
     <h5>Age: {{ userpref.age }}</h5>
     <h5>Location: {{ userpref.location }}</h5>
     <h5>How would you describe your belief in a higher power?: {{ userpref.spirituality }}</h5>
     <h5>When newsworthy things are happening in the world, at what level do you engage?: {{ userpref.engagement }}</h5>
     <hr>
     <h6>To complete/update your profile and preferences, click <a href="{{ url_for('preferences') }}">here</a>
	</h6>

{% endblock content %}