{% extends "layout.html" %}
{% block content %}

<h1>My Chat</h1>
<hr>
<style>
	.chatbox{
		border-color: black;
		border: 1px solid black;
    padding: 15px;
		/*overflow-y: scroll;*/
    overflow:   none;
    position:   relative;
    width:      100%;
    height:     250px;
	}
  .chat-page{
    background-color: white;
    padding: 20px;
    border: solid;
    border-color: grey;
  }
  .message_holder{
    overflow:   auto;
    position:   absolute;
    bottom:     0;
    width: 100%;
    max-height: 250px;
  }
  input[type=submit] {
      display: block;
        width: 100px;
        height: 30px;
        background: black;
        padding: 2px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
    }

    .leave{
      text-decoration: none;
      color: black;
    }

    #leavebutton{
      float: right;
      padding-top: 10px;
      padding-bottom: 20px;
    }

</style>
<script type="text/javascript">
  function doFunction(){
        document.getElementById("leavebutton").onclick = $( 'div.message_holder' ).append("good bye.");
  }

</script>

<!-- for tlk.io  -->
<!-- <script>
	let n = (Math.random() * 0xfffff * 1000000).toString(16);
	document.getElementById('tlkio').style.data-channel =n + "";
	// document.getElementById('tlkio').setAttribute('data-channel', n)
</script> 

<div id="tlkio" data-theme="theme--minimal" style="width:100%;height:400px;"></div><script async src="http://tlk.io/embed.js" type="text/javascript"></script> -->
<!-- end tlk.io content -->

<div class="chat-page">
  <div class="question">
      <h3 style="text-align: center;">Prompt:</h3>
      <h3 style="text-align: center;"><div id="msgDiv"></div></h3>
  </div>
  <div class="chatbox">
  	<h4 style='color: #ccc;font-size: 30px;'>Start chatting...</h4>
      <div class="message_holder"></div>
  </div>
  <hr>
  <form action="submit" method="POST">
        <h6>You: <input type="text" class="message" placeholder="type here..." style="width: 440px;"/></h6>
        <input type="submit"/>
  </form>
</div>
<div class="leavebutton">
    <button class=".btn-default" value="leavebutton" id="leavebutton" onclick="doFunction();"> 
      <a class="leave" href="{{ url_for('home') }}">Leave Room</a>
    </button>
  </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- for the messages via socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
//connect to socket.io
      var socket = io.connect('https://' + document.domain + ':' + location.port);

       socket.on( 'connect', function(room) {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          var user_name = '{{ current_user.firstname }}:'
          let user_input = $( 'input.message' ).val()
          
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' && msg.message != '' ) {
          $( 'h4' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000 ">'+escape(msg.user_name)+'</b> '+escape(msg.message)+'</div>' )
          $('div.message_holder').scrollTop($('div.message_holder')[0].scrollHeight);
        }
      });

</script>


<!-- randomly generate new question -->
<script type="text/javascript">
  var msgArr = new Array();
  msgArr[0] = "How are prejudice and bias created? How do we overcome them?"
 // // "Should animal testing be banned? Why or why not? ";
  // msgArr[1] = "What is your view on the death penalty?";
  // msgArr[2] = "Why do you think our country is so divided on social welfare subjects?";
  // msgArr[3] = "Should all people have access to free healthcare? Why or why not?";
  // msgArr[4] = "Why do you think discrimination continue to exist in the United States?"
  // msgArr[5] = "What are the root causes of oppression?"
  // msgArr[6] = "How are prejudice and bias created? How do we overcome them?"
  // msgArr[7] = "What are the responsibilities of the individual in regard to issues of social justice?"
  // msgArr[8] = "What are the factors that create an imbalance of power within a culture?"
  // msgArr[9] = "How have you experienced the benefits of privilege (race, socioeconomic, class, education, citizenship, birth order, etc.)? How has this impacted your life's path? "
  // msgArr[10] = "How does conflict lead to change?"
  // msgArr[11] = "How does an individual’s point of view affect the way they deal with conflict?"
  // msgArr[12] = "When is it necessary to question the status quo? Who decides?"
  window.onload = function () {
    document.getElementById("msgDiv").innerHTML = msgArr[Math.floor(Math.random()*msgArr.length)];
  }
</script>
{% endblock content %}